@import "src/app/card";

.pokerTable {
  display: flex;
  flex-flow: column;
  min-height: 450px;
  line-height: inherit;
  background-color: #003300;

  &__container {
    @extend .playingCards ;
  }

  &__back-card {
    @extend .card ;
    @extend .back ;
  }

  &__cards-flop {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      margin-right: 10px;
    }

    div:nth-last-child {
      margin-right: 0;
    }
  }

  &__cards-last {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
    div {
      margin-right: 10px;
    }

    div:nth-last-child {
      margin-right: 0;
    }
  }

  &__hand-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    div {
      margin-right: 10px;
    }

    div:nth-last-child {
      margin-right: 0;
    }
  }
}

.playingCards .card {
  margin: 0;
}

#casinoIcon {
  color: #00b894;
}

#learnPokerOdds {
  background-color: #2d3436;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .pokerTable {
    display: block;
    background: url("/assets/img/poker-table-v2.png") center no-repeat;
    background-size: contain;
    min-height: 450px;
    margin: 0;
    margin-top: 7%;
    margin-bottom: 7%;
    padding-top: 150px;

    &__cards-flop {
      display: inline-flex;
      justify-content: flex-end;
    }

    &__cards-last {
      display: inline-flex;
      justify-content: flex-start;
    }

    &__hand-cards {
      margin-top: 70px;
    }
  }
}
