<a id="learnPokerOdds"
        [href]="'https://www.cardschat.com/odds-for-dummies.php'"
        mat-fab
        aria-label="Learn about poker odds"
        matTooltip="Learn about poker odds">
    <mat-icon id="casinoIcon">casino</mat-icon>
</a>

<div class="pokerTable container-fluid">
    <div class="pokerTable__cards-flop {{flopClass.getValue()}}">
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
                flop
            </app-poker-card>
        </div>
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
                flop
            </app-poker-card>
        </div>
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
                flop
            </app-poker-card>
        </div>
    </div>

    <div class="pokerTable__cards-last {{lastClass.getValue()}}">
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
                turn
            </app-poker-card>
        </div>
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
                river
            </app-poker-card>
        </div>
    </div>


    <div class="pokerTable__hand-cards">
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
            </app-poker-card>
        </div>
        <div class="pokerTable__container">
            <app-poker-card class="pokerTable__back-card">
            </app-poker-card>
        </div>
    </div>


    <!--    <div class="example-container">-->
    <!--        <h2>Pick cards from here!</h2>-->
    <!--        <div-->
    <!--                cdkDropList-->
    <!--                #cardsList="cdkDropList"-->
    <!--                [cdkDropListData]="cards"-->
    <!--                [cdkDropListConnectedTo]="tableCardsList"-->
    <!--                class="pokerTable__container"-->
    <!--                (cdkDropListDropped)="drop($event)">-->
    <!--                <app-poker-card *ngFor="let card of cards" isCdkDrag="true">-->
    <!--                    <strong>-->
    <!--                        <span class="card {{card.rank}} {{card.color}}">-->
    <!--                            <span class="rank">{{card.value}}</span>-->
    <!--                            <span class="suit">{{card.symbol}}</span>-->
    <!--                        </span>-->
    <!--                    </strong>-->
    <!--                </app-poker-card>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
