#fakeHeader {
  margin-top: 150px;
}

#casinoIcon {
  color: #00b894;
}

#learnPokerOdds {
  background-color: #2d3436;
}

.mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    color: pink !important;
    margin: 0px;
}