/* Global Styles */
h1 {
  color: #00b894;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  font-weight: 600;
}

h2, h3 {
  color: #2d3436;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  background-color: #003300;
}

@media screen and (min-width: 768px) {
  body {
    background-color: #dfe6e9;
  }
}

body, input[text], button {
  color: #636e72;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
